<launch>
  <arg name="robot1_map_frame" default="robot1/map"/>
  <arg name="robot2_map_frame" default="robot2/map"/>
  <arg name="world_frame" default="map"/>
  <arg name="merged_map_topic" default="/merged_map"/>

  <arg name="robot1_init_x" default="0.0"/>
  <arg name="robot1_init_y" default="0.0"/>
  <arg name="robot1_init_yaw" default="0.0"/>
  <arg name="robot2_init_x" default="0.0"/>
  <arg name="robot2_init_y" default="0.0"/>
  <arg name="robot2_init_yaw" default="0.0"/>

  <!-- Initial map poses for multirobot_map_merge (world frame = map).
       REAL ROBOTS: must match slam_navigation static TF and physical spawn
       (real_multi_robot_ctf.launch: robot1 at -1.5,0, robot2 at +1.5,0, yaw pi).
       SIM Gazebo: often keep 0,0 because spawn offset is already in odom. -->

  <node pkg="multirobot_map_merge" type="map_merge"
        name="map_merge" output="screen">
    <!-- These MUST be private parameters inside the node -->
    <param name="robot1/map_merge/init_pose_x" value="$(arg robot1_init_x)"/>
    <param name="robot1/map_merge/init_pose_y" value="$(arg robot1_init_y)"/>
    <param name="robot1/map_merge/init_pose_z" value="0.0"/>
    <param name="robot1/map_merge/init_pose_yaw" value="$(arg robot1_init_yaw)"/>

    <param name="robot2/map_merge/init_pose_x" value="$(arg robot2_init_x)"/>
    <param name="robot2/map_merge/init_pose_y" value="$(arg robot2_init_y)"/>
    <param name="robot2/map_merge/init_pose_z" value="0.0"/>
    <param name="robot2/map_merge/init_pose_yaw" value="$(arg robot2_init_yaw)"/>

    <param name="robot_map_topic" value="map"/>
    <param name="robot_namespace" value="robot"/>
    <param name="merged_map_topic" value="$(arg merged_map_topic)"/>
    <param name="world_frame" value="$(arg world_frame)"/>
    <param name="known_init_poses" value="true"/>
    <param name="merging_rate" value="0.5"/>
    <param name="discovery_rate" value="1.0"/>
    <!-- estimation_* only used when known_init_poses=false -->
    <param name="estimation_rate" value="0.0"/>
    <param name="estimation_confidence" value="1.0"/>
  </node>
</launch>
