<launch>
  <arg name="robot1_map_frame" default="robot1/map"/>
  <arg name="robot2_map_frame" default="robot2/map"/>
  <arg name="world_frame" default="map"/>
  <arg name="merged_map_topic" default="/merged_map"/>

  <arg name="robot1_init_x" default="0.0"/>
  <arg name="robot1_init_y" default="0.0"/>
  <arg name="robot1_init_yaw" default="0.0"/>
  <arg name="robot2_init_x" default="0.0"/>
  <arg name="robot2_init_y" default="0.0"/>
  <arg name="robot2_init_yaw" default="0.0"/>

  <!-- Initial map poses for multirobot_map_merge. With identity map->robotN/map
       static TF, gmapping maps already use world coordinates; keep init at 0. -->
  <param name="/robot1/map_merge/init_pose_x" value="$(arg robot1_init_x)"/>
  <param name="/robot1/map_merge/init_pose_y" value="$(arg robot1_init_y)"/>
  <param name="/robot1/map_merge/init_pose_z" value="0.0"/>
  <param name="/robot1/map_merge/init_pose_yaw" value="$(arg robot1_init_yaw)"/>

  <param name="/robot2/map_merge/init_pose_x" value="$(arg robot2_init_x)"/>
  <param name="/robot2/map_merge/init_pose_y" value="$(arg robot2_init_y)"/>
  <param name="/robot2/map_merge/init_pose_z" value="0.0"/>
  <param name="/robot2/map_merge/init_pose_yaw" value="$(arg robot2_init_yaw)"/>

  <node pkg="multirobot_map_merge" type="map_merge"
        name="map_merge" output="screen">
    <param name="robot_map_topic" value="map"/>
    <param name="robot_namespace" value="robot"/>
    <param name="merged_map_topic" value="$(arg merged_map_topic)"/>
    <param name="world_frame" value="$(arg world_frame)"/>
    <param name="known_init_poses" value="true"/>
    <param name="known_init_pose" value="true"/>
    <param name="merging_rate" value="0.5"/>
    <param name="discovery_rate" value="1.0"/>
    <param name="estimation_rate" value="0.1"/>
    <param name="estimation_confidence" value="1.0"/>
  </node>
</launch>
