<launch>
  <arg name="robot1_map_frame" default="robot1/map"/>
  <arg name="robot2_map_frame" default="robot2/map"/>
  <arg name="world_frame" default="map"/>
  <arg name="merged_map_topic" default="/merged_map"/>

  <arg name="robot1_init_x" default="0.0"/>
  <arg name="robot1_init_y" default="0.0"/>
  <arg name="robot1_init_yaw" default="0.0"/>
  <arg name="robot2_init_x" default="0.0"/>
  <arg name="robot2_init_y" default="0.0"/>
  <arg name="robot2_init_yaw" default="0.0"/>
  <arg name="quiet_slam" default="true"/>
  <arg name="robot1_spawn_x" default="-1.50"/>
  <arg name="robot1_spawn_y" default="0.0"/>
  <arg name="robot1_spawn_yaw" default="0.0"/>
  <arg name="robot2_spawn_x" default="1.50"/>
  <arg name="robot2_spawn_y" default="0.0"/>
  <arg name="robot2_spawn_yaw" default="3.1416"/>
  <arg name="lidar_yaw" default="3.14159265359"/>

  <!-- Laser scan filters to remove the other robot's body from GMapping and move_base -->
  <group ns="robot1">
    <node pkg="ctf_navigation" type="laser_obstacle_filter.py" name="laser_obstacle_filter" output="screen">
      <param name="obstacle_frame" value="robot2/base_footprint"/>
      <param name="robot_radius" value="0.32"/>
      <param name="use_odom_relative" value="true"/>
      <param name="lidar_yaw" value="$(arg lidar_yaw)"/>
      <rosparam param="robot1_spawn" subst_value="True">[$(arg robot1_spawn_x), $(arg robot1_spawn_y), $(arg robot1_spawn_yaw)]</rosparam>
      <rosparam param="robot2_spawn" subst_value="True">[$(arg robot2_spawn_x), $(arg robot2_spawn_y), $(arg robot2_spawn_yaw)]</rosparam>
      <remap from="scan" to="/robot1/scan"/>
      <remap from="scan_filtered" to="/robot1/scan_filtered"/>
    </node>
  </group>

  <group ns="robot2">
    <node pkg="ctf_navigation" type="laser_obstacle_filter.py" name="laser_obstacle_filter" output="screen">
      <param name="obstacle_frame" value="robot1/base_footprint"/>
      <param name="robot_radius" value="0.32"/>
      <param name="use_odom_relative" value="true"/>
      <param name="lidar_yaw" value="$(arg lidar_yaw)"/>
      <rosparam param="robot1_spawn" subst_value="True">[$(arg robot1_spawn_x), $(arg robot1_spawn_y), $(arg robot1_spawn_yaw)]</rosparam>
      <rosparam param="robot2_spawn" subst_value="True">[$(arg robot2_spawn_x), $(arg robot2_spawn_y), $(arg robot2_spawn_yaw)]</rosparam>
      <remap from="scan" to="/robot2/scan"/>
      <remap from="scan_filtered" to="/robot2/scan_filtered"/>
    </node>
  </group>

  <!-- Each robot builds its own map frame. Keeping these frames separate avoids
       two gmapping nodes publishing conflicting map -> odom transforms. -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping"
        ns="robot1" output="$(eval 'log' if arg('quiet_slam') else 'screen')">
    <remap from="scan" to="/robot1/scan_filtered"/>
    <rosparam file="$(find ctf_navigation)/params/gmapping_robot1.yaml"
              command="load"/>
    <param name="base_frame" value="robot1/base_footprint"/>
    <param name="odom_frame" value="robot1/odom"/>
    <param name="map_frame" value="$(arg robot1_map_frame)"/>
  </node>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping"
        ns="robot2" output="$(eval 'log' if arg('quiet_slam') else 'screen')">
    <remap from="scan" to="/robot2/scan_filtered"/>
    <rosparam file="$(find ctf_navigation)/params/gmapping_robot2.yaml"
              command="load"/>
    <param name="base_frame" value="robot2/base_footprint"/>
    <param name="odom_frame" value="robot2/odom"/>
    <param name="map_frame" value="$(arg robot2_map_frame)"/>
  </node>

  <include file="$(find ctf_navigation)/launch/map_merge.launch">
    <arg name="robot1_map_frame" value="$(arg robot1_map_frame)"/>
    <arg name="robot2_map_frame" value="$(arg robot2_map_frame)"/>
    <arg name="world_frame" value="$(arg world_frame)"/>
    <arg name="merged_map_topic" value="$(arg merged_map_topic)"/>
    <arg name="robot1_init_x" value="$(arg robot1_init_x)"/>
    <arg name="robot1_init_y" value="$(arg robot1_init_y)"/>
    <arg name="robot1_init_yaw" value="$(arg robot1_init_yaw)"/>
    <arg name="robot2_init_x" value="$(arg robot2_init_x)"/>
    <arg name="robot2_init_y" value="$(arg robot2_init_y)"/>
    <arg name="robot2_init_yaw" value="$(arg robot2_init_yaw)"/>
  </include>
</launch>
