<launch>
  <arg name="robot1_x" default="-3.0"/>
  <arg name="robot1_y" default="-3.0"/>
  <arg name="robot1_yaw" default="0.0"/>
  <arg name="robot2_x" default="3.0"/>
  <arg name="robot2_y" default="3.0"/>
  <arg name="robot2_yaw" default="3.1416"/>

  <!-- Posición de la bandera. Cámbiala para hacer pruebas:
       roslaunch ctf_navigation ctf_game.launch flag_x:=2.0 flag_y:=-3.0 -->
  <arg name="flag_x" default="-3.2"/>
  <arg name="flag_y" default="3.2"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ctf_navigation)/worlds/ctf_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- ── Bandera CTF (spawn dinámico con posición configurable) ──────────────-->
  <param name="ctf_flag_description"
         textfile="$(find ctf_navigation)/models/ctf_flag.urdf"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_ctf_flag" output="screen"
        args="-urdf -model ctf_flag
              -x $(arg flag_x) -y $(arg flag_y) -z 0.0
              -param ctf_flag_description"/>

  <group ns="robot1">
    <param name="tf_prefix" value="robot1"/>
    <param name="robot_description"
           command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_waffle_pi.urdf.xacro"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher"
          name="robot_state_publisher" output="screen">
      <param name="publish_frequency" value="50.0"/>
      <remap from="/tf" to="/tf"/>
      <remap from="/tf_static" to="/tf_static"/>
    </node>

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot1" output="screen"
          args="-urdf -model robot1
                -x $(arg robot1_x) -y $(arg robot1_y) -z 0.0 -Y $(arg robot1_yaw)
                -param robot_description
                -robot_namespace /robot1"/>
  </group>

  <group ns="robot2">
    <param name="tf_prefix" value="robot2"/>
    <param name="robot_description"
           command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_waffle_pi.urdf.xacro"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher"
          name="robot_state_publisher" output="screen">
      <param name="publish_frequency" value="50.0"/>
      <remap from="/tf" to="/tf"/>
      <remap from="/tf_static" to="/tf_static"/>
    </node>

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot2" output="screen"
          args="-urdf -model robot2
                -x $(arg robot2_x) -y $(arg robot2_y) -z 0.0 -Y $(arg robot2_yaw)
                -param robot_description
                -robot_namespace /robot2"/>
  </group>
</launch>
