<launch>
  <!-- world: nine_rooms_world | hallway_world | hallway_obstacles_world -->
  <arg name="world" default="nine_rooms_world"/>
  <arg name="robot1_x" default="$(eval -3.5 if arg('world') in ['hallway_world', 'hallway_obstacles_world'] else -3.0)"/>
  <arg name="robot1_y" default="$(eval 0.0 if arg('world') in ['hallway_world', 'hallway_obstacles_world'] else -3.0)"/>
  <arg name="robot1_yaw" default="0.0"/>
  <arg name="robot2_x" default="$(eval 3.5 if arg('world') in ['hallway_world', 'hallway_obstacles_world'] else 3.0)"/>
  <arg name="robot2_y" default="$(eval 0.0 if arg('world') in ['hallway_world', 'hallway_obstacles_world'] else 3.0)"/>
  <arg name="robot2_yaw" default="3.1416"/>
  <arg name="flag_x" default="$(eval 0.0 if arg('world') in ['hallway_world', 'hallway_obstacles_world', 'nine_rooms_world'] else -3.2)"/>
  <arg name="flag_y" default="$(eval 0.0 if arg('world') in ['hallway_world', 'hallway_obstacles_world', 'nine_rooms_world'] else 3.2)"/>

  <rosparam param="/ctf_navigation/spawns/robot1" subst_value="True">[$(arg robot1_x), $(arg robot1_y), $(arg robot1_yaw)]</rosparam>
  <rosparam param="/ctf_navigation/spawns/robot2" subst_value="True">[$(arg robot2_x), $(arg robot2_y), $(arg robot2_yaw)]</rosparam>
  <rosparam param="/ctf_navigation/spawns/flag" subst_value="True">[$(arg flag_x), $(arg flag_y)]</rosparam>
  <param name="/ctf_navigation/world" value="$(arg world)"/>

  <env name="GAZEBO_IP" value="127.0.0.1"/>
  <env name="GAZEBO_MASTER_URI" value="http://127.0.0.1:11345"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ctf_navigation)/worlds/$(arg world).world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="ctf_flag_description"
         textfile="$(find ctf_navigation)/models/ctf_flag.urdf"/>
  <node pkg="gazebo_ros" type="spawn_model" name="spawn_ctf_flag" output="screen"
        args="-urdf -model ctf_flag
              -x $(arg flag_x) -y $(arg flag_y) -z 0.0
              -param ctf_flag_description"/>

  <include file="$(find ctf_navigation)/launch/include/spawn_robot_gazebo.launch">
    <arg name="robot_ns" value="robot1"/>
    <arg name="robot_x" value="$(arg robot1_x)"/>
    <arg name="robot_y" value="$(arg robot1_y)"/>
    <arg name="robot_yaw" value="$(arg robot1_yaw)"/>
  </include>
  <include file="$(find ctf_navigation)/launch/include/spawn_robot_gazebo.launch">
    <arg name="robot_ns" value="robot2"/>
    <arg name="robot_x" value="$(arg robot2_x)"/>
    <arg name="robot_y" value="$(arg robot2_y)"/>
    <arg name="robot_yaw" value="$(arg robot2_yaw)"/>
  </include>
</launch>
