<launch>

  <!-- Gazebo con nuestro mundo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ctf_navigation)/worlds/ctf_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- ===== ROBOT 1 — base en (-3, -3) ===== -->
  <group ns="robot1">
    <param name="robot_description"
      command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_waffle_pi.urdf.xacro"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher"
          name="robot_state_publisher" output="screen">
      <param name="publish_frequency" value="50.0"/>
      <remap from="/tf" to="/tf"/>
      <remap from="/tf_static" to="/tf_static"/>
    </node>

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot1" output="screen"
      args="-urdf -model robot1
            -x -3.0 -y -3.0 -z 0.0 -Y 0.0
            -param robot_description
            -robot_namespace /robot1"/>
  </group>

  <!-- ===== ROBOT 2 — base en (3, 3) mirando al sur ===== -->
  <group ns="robot2">
    <param name="robot_description"
      command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_waffle_pi.urdf.xacro"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher"
          name="robot_state_publisher" output="screen">
      <param name="publish_frequency" value="50.0"/>
      <remap from="/tf" to="/tf"/>
      <remap from="/tf_static" to="/tf_static"/>
    </node>

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot2" output="screen"
      args="-urdf -model robot2
            -x 3.0 -y 3.0 -z 0.0 -Y 3.1416
            -param robot_description
            -robot_namespace /robot2"/>
  </group>

</launch>
