<launch>
  <arg name="world_frame" default="map"/>
  <arg name="local_planner" default="dwa"/>

  <!-- 1. Gazebo Simulation with the CTF world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ctf_navigation)/worlds/ctf_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <!-- 2. Spawn robot1 only (TurtleBot3 Waffle Pi) -->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1"/>
    <param name="robot_description"
           command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_waffle_pi.urdf.xacro"/>

    <node pkg="robot_state_publisher" type="robot_state_publisher"
          name="robot_state_publisher" output="screen">
      <param name="publish_frequency" value="50.0"/>
      <remap from="/tf" to="/tf"/>
      <remap from="/tf_static" to="/tf_static"/>
    </node>

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_robot1" output="screen"
          args="-urdf -model robot1
                -x -3.0 -y -3.0 -z 0.0 -Y 0.0
                -param robot_description
                -robot_namespace /robot1"/>
  </group>

  <!-- 3. SLAM (GMapping) for robot1 with dynamic TF publishing enabled -->
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping"
        ns="robot1" output="screen">
    <remap from="scan" to="/robot1/scan"/>
    <remap from="map" to="/map"/>
    <rosparam file="$(find ctf_navigation)/params/gmapping_single.yaml"
              command="load"/>
    <param name="base_frame" value="robot1/base_footprint"/>
    <param name="odom_frame" value="robot1/odom"/>
    <param name="map_frame" value="$(arg world_frame)"/>
  </node>

  <!-- 4. Navigation (move_base) and explore_lite for robot1 -->
  <group ns="robot1">
    <!-- move_base node -->
    <node pkg="move_base" type="move_base" name="move_base" output="screen"
          respawn="true" respawn_delay="3">
      <remap from="odom" to="/robot1/odom"/>
      <remap from="scan" to="/robot1/scan"/>
      <remap from="cmd_vel" to="/robot1/cmd_vel"/>
      <remap from="map" to="/map"/>

      <rosparam file="$(find ctf_navigation)/params/move_base_slam.yaml" command="load"/>
      <rosparam file="$(find ctf_navigation)/params/costmap_common_single.yaml"
                command="load" ns="global_costmap"/>
      <rosparam file="$(find ctf_navigation)/params/costmap_common_single.yaml"
                command="load" ns="local_costmap"/>
      <rosparam file="$(find ctf_navigation)/params/costmap_global_single.yaml"
                command="load" ns="global_costmap"/>
      <rosparam file="$(find ctf_navigation)/params/costmap_local_single.yaml"
                command="load" ns="local_costmap"/>

      <!-- Global Planner -->
      <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
      <rosparam file="$(find ctf_navigation)/params/planner_global_slam_nav.yaml"
                command="load" ns="GlobalPlanner"/>

      <!-- Local Planner (DWA) -->
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
      <rosparam file="$(find ctf_navigation)/params/planner_local_dwa_single.yaml"
                command="load" ns="DWAPlannerROS"/>
    </node>

    <!-- Standard explore_lite node (running inside robot1 namespace) -->
    <node pkg="explore_lite" type="explore" name="explore" output="screen">
      <rosparam file="$(find ctf_navigation)/params/explore_lite_single.yaml" command="load"/>
    </node>
  </group>
</launch>
