<launch>
  <arg name="local_planner" default="dwa"/>
  <arg name="run_demo" default="true"/>
  <arg name="world_frame" default="world"/>
  <arg name="merged_map_topic" default="/merged_map"/>

  <include file="$(find ctf_navigation)/launch/simulation.launch"/>

  <include file="$(find ctf_navigation)/launch/shared_slam.launch">
    <arg name="world_frame" value="$(arg world_frame)"/>
    <arg name="merged_map_topic" value="$(arg merged_map_topic)"/>
  </include>

  <node pkg="ctf_navigation" type="robot_obstacle_publisher.py"
        name="robot_obstacle_publisher" output="screen">
    <param name="target_frame" value="$(arg world_frame)"/>
  </node>

  <include file="$(find ctf_navigation)/launch/slam_navigation.launch">
    <arg name="local_planner" value="$(arg local_planner)"/>
    <arg name="world_frame" value="$(arg world_frame)"/>
    <arg name="merged_map_topic" value="$(arg merged_map_topic)"/>
  </include>

  <!-- The game node uses the same fixed coordinates as Gazebo, now expressed
       in the shared world frame produced by multirobot_map_merge. -->
  <node if="$(arg run_demo)" pkg="ctf_navigation" type="ctf_demo_node"
        name="ctf_demo_node" output="screen">
    <param name="frame" value="$(arg world_frame)"/>
    <param name="robot1_ns" value="robot1"/>
    <param name="robot2_ns" value="robot2"/>
    <param name="robot1_base_frame" value="robot1/base_footprint"/>
    <param name="robot2_base_frame" value="robot2/base_footprint"/>
    <param name="flag_x" value="-3.2"/>
    <param name="flag_y" value="3.2"/>
    <param name="flag_yaw" value="1.57"/>
    <param name="robot1_base_x" value="-3.0"/>
    <param name="robot1_base_y" value="-3.0"/>
    <param name="robot1_base_yaw" value="0.0"/>
    <param name="robot2_base_x" value="3.0"/>
    <param name="robot2_base_y" value="3.0"/>
    <param name="robot2_base_yaw" value="3.1416"/>
    <param name="catch_distance" value="0.65"/>
    <param name="flag_capture_distance" value="0.45"/>
    <param name="chase_rate_hz" value="1.0"/>
    <param name="goal_timeout" value="180.0"/>
  </node>
</launch>
